# Backup files from text editors
*~
*.DS_Store
.*.swp
.hg
.hgignore
.svn
.svnignore

# Xcode crap
*mode1v3
*pbxuser
*perspectivev3
*.xcodeproj/xcuserdata
*xcuserdata*
*.xcworkspace*

build
include
docs

#pods
Podfile.lock
Pods
